.header {
  color: rgb(57, 57, 64);
  font-size: 50px;
}
.container {
  margin: 100px;
}
.container {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  text-align: left;
  justify-content: space-between;
}
