.form {
  min-width: 400px;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
}

.formEl {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.field {
  padding: 10px;
  margin: 0 30px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errMsg {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.p {
  color: red;
  font-size: 20px;
  margin-top: 20px;
}
